<form action="/file-upload" method="post" enctype="multipart/form-data">
  <label for="folder">Select Folder:</label>
  <select name="folderId" id="folder">
    <% folders.forEach(folder => { %>
    <option value="<%= folder.id %>"><%= folder.name %></option>
    <% }); %>
  </select>

  <label for="file">Select File:</label>
  <input type="file" name="file" id="file" />

  <button>Upload</button>
</form>